* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --brown-200: rgb(167, 102, 41);
    --brown-500: rgb(121, 65, 14);
}

body {
    background-image: url(images/background.jpg);
    font-family: 'Yatra One', cursive;
}

header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header img {
    border-radius: 25px;
    box-shadow: 0 3px 8px 0 black;
    margin: 1rem;
    max-height: 350px;
    width: 250px;
}

h1 {
    color: var(--brown-500);
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0.5px 0.5px black;
}

ul {
    padding-left: 1.5rem;
}

li {
    list-style-image: url(images/compass.png);
    margin-bottom: 1rem;
}

.texto-importante {
    color: var(--brown-500);
    font-weight: bold;
}

article {
    max-width: 500px;
    margin: 2rem auto;
    padding: 1rem;
    text-align: justify;
}

article img {
    border-radius: 25px;
    box-shadow: 0 3px 8px 0 black;
    display: flex;
    flex-shrink: initial;
    max-width: 100%;
    margin-bottom: 1rem;
}

.audio {
    display: flex;
    justify-content: center;
}

audio {
    border: 5px solid var(--brown-500);
    border-radius: 5.5rem;
}

footer {
    padding: 1rem;
    text-align: center;
}

footer a {
    color: var(--brown-500);
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    color: var(--brown-200);
    text-decoration: underline;
}